
*{
    box-sizing: border-box;
  }
  html{
    max-width: 1024px;
    margin: auto;
  }

  body{
    font-family: 'Varela Round', sans-serif;
      line-height: 1.2;
   
  }
 
  h1{
    text-align: center;
  }
  p{
    padding: 15px;
  }
  
  ul{
    list-style: none;
    margin:0;
  }
  li{
    margin:0;
  }
  img{
    max-width: 90%;
  }
  
  /* base layout styles */
  
  .wrapper{
    background-color: #fdfbfc;
    margin: 5px;
    text-align: center;
  }
  
  .menu, .nav-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:5px;
  }
  
  .nav-menu a{
    text-align:center;
    color: black;
    display: block;
    background-color:white;
    text-decoration: none;
    outline-style:ridge;
    outline-color: white;
    padding: 5px;
  }
  .profile{
    margin: 10px;
    text-align: center;
    padding: 10px;
    
  }
  .profile p{
    margin-right: 50px;
  }
  
  footer{
    display: none;
  }
  .skill p{
    font-family:Montserrat;
  }
  
  .blackboard{
    background-color: #f0f8ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding-bottom: 25px;
    border-radius: 10px 10px 10px 10px;
  }

  .container {
  
    display:flex;
  
    gap: 20px;
    flex-wrap: wrap;
    
  }
  
  .card{
    width:100%;
    background-color: #ffffff;
    border-style: solid;
    margin:8px;
    border-radius: 5%;
    padding: 10px;
    
  }



  
  @media screen and (min-width:768px) {
  
   
    .menu, .nav-menu{
      display: flex;
      padding:5px;
      align-items: center;
    }
    .nav-menu{
      flex-direction: row;
    }
    .nav-menu a{
      text-align:center;
      color: black;
      background-color:white;
      outline-style: none;
      padding: 5px;
      margin-left: 15px;
    }
    .profile{
      display: flex;
      justify-content: space-between;
    }
    .logo{
      order: 2;
    }
    
      
      .card{
        flex: 1;
        background-color: #ffffff;
        border-style: solid;
        margin:8px;
        min-height: 250px;
        min-width:350px;
        border-radius: 5%;
        padding: 20px;
    }
         
  } 
  
   footer, .foot-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .foot-nav{
      align-items: center;
    }
    .last{
      padding: 10px;
      margin: 5px;
    }
  
  
  
  @media screen and (min-width: 1024px){
    
    .menu, .nav-menu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
   
    .profile{
      display: flex;
    } 
    
    .logo{
      order: 2;
    }
    .card{
      flex: 1;
      width:90%;
      padding:10px;
      min-width: 250px;
    }

  }